/**
 * Abq RS History - Css
 *
 * Arquivo de estilização do corpo da página home.
 *
 * @package Abq RS
 * @subpackage History
 * @author Hiperativa Design
 * @since 1.0.0
 */

.galery {
	display: flex;
	flex-flow: row wrap;
}

.galery .galery-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.galery .galery-row .galery-item {
	width: 30%;
	overflow: hidden;
	border-radius: 5px;
	margin: 20px 0;
}

.galery .galery-row .galery-item img.galery-img {
	width: auto;
	height: 180px;

}