/**
 * Abq RS Recent Posts - Css
 *
 * Arquivo de estilização dos recentes posts publicados no blog.
 *
 * @package Abq RS
 * @subpackage Recent posts
 * @author Hiperativa Design
 * @since 1.0.0
 */

.post { width: 100%; }

.post .post-container {
	margin: auto;
	padding: 20px 0;
}

.post .post-container .post-title { width: 100%; padding: 20px 0; }
.post .post-container .post-title h2.post-title-text {
	font-size: 1.4em;
	font-weight: bold;
}

.post .post-container .post-content, ul.products {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	padding: 20px 0;
}

.post .post-container .post-content .card, li.product {
	width: 266px !important;
	margin: 10px;
	display: flex;
	flex-flow: column;
	border-radius: 5px;
	background-color: #EFF2F7;
	/*transform: scale(0);*/
	transition: all .5s ease-in-out;
}
.card:hover {
	-ms-transform: scale(1.02,1.02); /* IE 9 */
 	-webkit-transform: scale(1.02,1.02); /* Safari 3-8 */
 	transform: scale(1.02,1.02);
 	box-shadow: 0px 0px 6px 2px rgba(0,0,0,.3);
}

li.product {
	justify-content: space-between;
	border-radius: 5px;
	overflow: hidden;
}
li.product img {
	height: 260px !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 !important;
}
li.product a h2.woocommerce-loop-product__title {
	font-weight: bold;
	font-size: 1.2em !important;
}
li.product a h2.woocommerce-loop-product__title, li.product a span.price {
	padding: 20px !important;
	color: #333;
}
li.product a span { color: #333; }
li.product a:nth-child(2) { display: none; }

.post .post-container .post-content .card .card-header { width: 100%; overflow: hidden; }
.post .post-container .post-content .card .card-header img { 
	width: 100%;
	height: 260px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.post .post-container .post-content .card .card-body { width: 100%; padding: 10px 20px; }
.post .post-container .post-content .card .card-body .card-body-item {
	width: 100%;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}

.post .post-container .post-content .card .card-body .card-body-item.the_category a {
	border: 1px solid #0091E3;
	border-radius: 5px;
	text-transform: uppercase;
	color: #0091E3;
	padding: 8px 16px;
	font-size: .8em;
}

.post .post-container .post-content .card .card-body .card-body-item h2 a {
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
}

.post .post-container .post-content .card .card-body .card-body-item .card-footer {
	width: 50%;
	font-size: 1em;
	display: flex;
	flex-wrap: wrap;
}

.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item,
.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item a {
	color: #4D4D4D;
}

.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item i.icon-blog-author,
.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item i.icon-blog-clock {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item i.icon-blog-author {
	background-image: url('../../images/icon/blog-author.svg');	
}
.post .post-container .post-content .card .card-body .card-body-item .card-footer .card-footer-item i.icon-blog-clock {
	background-image: url('../../images/icon/blog-clock.svg');
}


/* Single Product */
.summary.entry-summary p.price,
.summary.entry-summary .woocommerce-product-details__short-description,
.summary.entry-summary form.cart {
	padding: 10px 0;
}
.summary.entry-summary h1.product_title.entry-title {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 10px;
}
.summary.entry-summary p.price { font-size: 1.2em !important; }
.summary.entry-summary p.price span.woocommerce-Price-amount.amount {
	color: #333;
	font-weight: bold;
}
.summary.entry-summary form.cart .quantity {
	width: 100%;
	padding-bottom: 10px;
}
.summary.entry-summary form.cart .quantity input[type='number'] {
	height: 35px;
	border: 1px solid #E5E9F2;
	text-align: center;
}
.summary.entry-summary form.cart button[type='submit'] {
	background-color: #0091E3;
	margin-top: 10px;
}
.summary.entry-summary .product_meta { display: none; }

.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
	padding: 0 !important;
	margin: 0 !important;
	border-left: 1px solid #d3ced2;
	border-top-left-radius: 4px;
}
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.description_tab,
.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.reviews_tab {
	width: 250px;
	text-align: center;
}
.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
	border-right: 1px solid #d3ced2;
	border-bottom: 1px solid #d3ced2;
	border-left: 1px solid #d3ced2;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px; 
	padding: 20px !important;
	line-height: 1.6;
}
.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel h2 { display: none; }
div.row.padding-y div.row-container.padding-y.grid-9 section.related.products { display: none; }